*{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body{
  background-color: rgb(33, 37, 41);
}
nav{
  background-color: rgba(33,37,41,0.5);
}

.bg-img{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(216, 46, 46, 0.5)), url('../assets/pizza-08.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: 	#fff;
}

span{
  font-family: 'Cookie', cursive;
}

#img-tag{
  width: 100%;
}

hr{
  color: #00ECFF;
  width: 80%;
  margin: auto;
}

option{
  color: #212529;
}
input[type="submit"]{
  width: 100%;
}