*{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

span{
  font-family: 'Pacifico', cursive;
  color: #ff304f !important;
}

body{
  background-color: rgb(33, 37, 41);
}
nav{
  background-color: rgba(33,37,41,0.5);
}

.bg-img{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../assets/pizza-08.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: 	#fff;
}

#img-tag{
  width: 100%;
}

hr{
  color: #ff304f;
  width: 80%;
}

option{
  color: #212529;
}
.sendBtn{
  width: 100%;
}


.order-form{
  background-color:#272b2e;
}

footer{
  background-color: #000;
}

.hide-elem{
  display: none;
}

.grandTotal td{
  color: rgb(32, 255, 32);
}

.btn-outline-info{
  border-color: #ff304f !important;
  color: #fff !important;
}

.btn-outline-info:hover{
 background-color: #ff304f !important;
  color: #fff !important;
}
.comment-sect{
  width: 100%;
  background-color: transparent !important;
  color: #fff !important;
  border-color: #ff304f;
}

.comment-sect::placeholder,.comment-sect:focus{
  color: #fff;
  background-color: transparent !important;
}

.fas:hover, .fa-brands:hover{
  font-size: 20px;
  color: #ff304f;
}

#delPriceDisplay{
  color: #ff4460;
}

@media only screen and (max-width:992px){
  #offcanvasNavbar{
    background-color: #212529;
  }
  .btn-close{
    background-color: #fff;
  }
}